td.details-control {
    background: url('./details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('./details_close.png') no-repeat center center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    width: 40%;
}

.modal-close {
    color: #aaa;
    margin-left: 95%;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 8px;
}

.modal-row input {
    width: 350px;
    height: 25px;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.gap {
    margin-top: 15px;
}

